191688  
Diaz  
2 BS ME

# Problem 1

In [2]:
social_graph = {
    "@bongolpoc":{"first_name":"Joselito",
                  "last_name":"Olpoc",
                  "following":[
                  ]
    },
    "@joaquin":  {"first_name":"Joaquin",
                  "last_name":"Gonzales",
                  "following":[
                      "@chums","@jobenilagan"
                  ]
    },
    "@chums" : {"first_name":"Matthew",
                "last_name":"Uy",
                "following":[
                    "@bongolpoc","@miketan","@rudyang","@joeilagan"
                ]
    },
    "@jobenilagan":{"first_name":"Joben",
                   "last_name":"Ilagan",
                   "following":[
                    "@eeebeee","@joeilagan","@chums","@joaquin"
                   ]
    },
    "@joeilagan":{"first_name":"Joe",
                  "last_name":"Ilagan",
                  "following":[
                    "@eeebeee","@jobenilagan","@chums"
                  ]
    },
    "@eeebeee":  {"first_name":"Elizabeth",
                  "last_name":"Ilagan",
                  "following":[
                    "@jobenilagan","@joeilagan"
                  ]
    },
}

In [3]:
def relationship_status(from_member,to_member):
    if to_member in social_graph[from_member]["following"] and from_member in social_graph[to_member]["following"]:
        return 'friends'
    elif to_member in social_graph[from_member]["following"]:
        return 'follower'
    elif from_member in social_graph[to_member]["following"]:
        return 'followed by'
    else:
        return None

In [9]:
relationship_status('@chums','@joeilagan')

'friends'

# Problem 2

In [10]:
board1 = [
['X','X','O'],
['O','X','O'],
['O','','X'],
]

board2 = [
['X','X','O'],
['O','X','O'],
['','O','X'],
]

board3 = [
['O','X','O'],
['','O','X'],
['X','X','O'],
]

board4 = [
['X','X','X'],
['O','X','O'],
['O','','O'],
]

board5 = [
['X','X','O'],
['O','X','O'],
['X','','O'],
]

board6 = [
['X','X','O'],
['O','X','O'],
['X','',''],
]
def get_winner(board):
    horizontal1=[x for x in board[0]]
    horizontal2=[x for x in board[1]]
    horizontal3=[x for x in board[2]]
    vertical1=[x for x in zip(*board)][0]
    vertical2=[x for x in zip(*board)][1]
    vertical3=[x for x in zip(*board)][2]
    diagonal1=[board[i][i] for i,v in enumerate(board)]
    diagonal2=[board[i][2-i] for i,v in enumerate(board)]
    list_of_combos=[horizontal1,horizontal2,horizontal3,vertical1,vertical2,vertical3,diagonal1,diagonal2]
    for combo in list_of_combos:
        if len(set(combo))==1 and len(combo)==3:
            winner=combo[0]
            print(winner)
            
            
     winner = None

     ## guides to your approach:
     ## check diagonals

     ## - how do you go from left to right?
     ## - how do you go from right to left?

     ## check rows

     ## check columns

In [54]:
def get_winner(board):
    horizontal1=[x for x in board[0]]
    horizontal2=[x for x in board[1]]
    horizontal3=[x for x in board[2]]
    vertical1=[x for x in zip(*board)][0]
    vertical2=[x for x in zip(*board)][1]
    vertical3=[x for x in zip(*board)][2]
    diagonal1=[board[i][i] for i,v in enumerate(board)]
    diagonal2=[board[i][2-i] for i,v in enumerate(board)]
    list_of_combos=[horizontal1,horizontal2,horizontal3,vertical1,vertical2,vertical3,diagonal1,diagonal2]
    for combo in list_of_combos:
        if len(set(combo))==1 and len(combo)==3:
            winner=combo[0]
            print(winner)
get_winner(board1)

X

# Problem 3

In [4]:
locations = {
    "admu":{
        "name":"Ateneo de Manila University",
        "latitude":14.6394557,
        "longitude":121.0758975        
    },
    "upd":{
        "name":"University of the Philippines-Diliman Campus",
        "latitude":14.6538519,
        "longitude":121.0663348
    },
    "dlsu":{
        "name":"De La Salle University-Taft",
        "latitude":14.5647346,
        "longitude":120.9909876

    }, # <-- Note that Python does not complain about this extra comma. This is perfectly okay.
       #     The creators of Python saw that dictionaries tend to be changed a lot, so allowing this is a
       #     convenience for developers who need to add elements when needed.
}

legs = {
     ("upd","admu"):{
         "travel_time_mins":10
     },
     ("admu","dlsu"):{
         "travel_time_mins":35
     },
     ("dlsu","upd"):{
         "travel_time_mins":55
     }
}

def eta(source,destination):
    pass
    # write your code here
    def eta(source,destination):
        if (source,destination) in legs:
            total_time=legs[(source,destination)]["travel_time_mins"]
            return total_time
        else:
            total_time=0
            for route1 in legs:
                if route1[0]==source:
                    total_time+=legs[route1]["travel_time_mins"]
            for route2 in legs:
                if route2[1]==destination:
                    total_time+=legs[route2]["travel_time_mins"]
            return total_time

In [7]:
def eta(source,destination):
    if (source,destination) in legs:
        total_time=legs[(source,destination)]["travel_time_mins"]
        return total_time
    else:
        total_time=0
        for route1 in legs:
            if route1[0]==source:
                total_time+=legs[route1]["travel_time_mins"]
        for route2 in legs:
            if route2[1]==destination:
                total_time+=legs[route2]["travel_time_mins"]
        return total_time
    
eta('dlsu','admu')

65